body, h2 {
  padding: 0px;
  margin: 0px;
}

body {
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.titulo {
  position: absolute;
  top: -15px;
  background: #ffffff;
  border: 2px solid;
  display: block;
}

.formulario{
  margin-top: 100px;
  display: inline-block;
  border: 2px solid #000000;
  padding: 40px 60px;
  position: relative;
}

.label{
  padding: 10px;
  display: block;
}

.botoes{
  padding: 10px;
  text-align: center;
}